  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="scripts.js"></script>  
    <script src="/socket.io/socket.io.js"></script>    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    
</head> 
<body>
        <!--Nick name popup-->

        <div id="userFormArea">
            <form id="userForm">
                <div class="form-group">
                    <h1>Chatty</h1>
                    <p>Simple web chat built with Socket.io and NodeJS.</p>
                    
                    <input type="text" id="username" class="form-control" placeholder="Enter your username"/>
                    <button type="submit" class="btn btn-submit btn-block">Login</button>
                </div>
            </form>
</div>
    
    <div class="container-fluid" >
            <div class="row" id="messageArea">
                <div class="left-panel">
                    <h3>Online Users</h3>
                    <ul id="users"></ul>
                </div>
                <div class="right-panel">
                    <div class="chat" id="chat"></div>
                    <form id="messageForm">
                        <div class="form-group">
                            <input type="text" id="message" class="form-control" placeholder="Enter message"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

 <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
        <!--Bootstrap JS-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Socket.io-->
        <script src="/socket.io/socket.io.js"></script>
        <!--my Script-->
        
        <script>

let socket = io();
socket.on('connected', () => {
    console.log("connected" + socket.id)
});

$(function () {
    var messageForm = $("#messageForm");
    var message = $("#message");
    var chat = $("#chat");
    var userFormArea = $("#userFormArea");
    var messageArea = $("#messageArea");
    var userForm = $("#userForm");
    var users = $("#users");
    var username = $("#username");

    messageForm.submit(function(e) {
    e.preventDefault();
    if(message.val() !== ''){
    socket.emit('send message', message.val())
    message.val('');
    }
    });

                socket.on('new message', function(data){
                   chat.scrollTop(chat[0].scrollHeight);
                    
                    chat.append('<div class="message"><strong>'+data.user+'</strong>: '+data.msg+'</div> <br />')
                })


    userForm.submit(function(e) {
                    e.preventDefault();
                    socket.emit('new user', username.val(), function(data){
                        if(data) {
                            userFormArea.hide();
                            messageArea.show();
                        } 
                    });
                    username.val('');
                });

    
     socket.on('get users', function(data){
                    var html = '';
                    
                    data.forEach(function(dat) {
                        html +=  '<li>'+dat+'</li>'
                    });
                    
                    users.html(html);
                });
                
            });

        </script>
      </body>
    </html>

 