<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstaChat</title>
    <link rel="shortcut icon" href="project.png">
    <link rel="stylesheet" href="style.css">
    <script src="scripts.js"></script>  
    <script src="/socket.io/socket.io.js"></script>    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Source+Sans+Pro&display=swap" rel="stylesheet"> 
</head>

</head> 
<body class="container-fluid">
<style>
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
</style>
        <div class="tempbox">
            <div id="userFormArea" >
            <form id="userForm">
                <h1 class="card-title mt-4" style="font-weight: 400">InstaChat</h1>
                <p class="card-subtitle mt-2" style="font-weight: 200">Instantly connect with your loved ones</p>
                <div class="form-group" >
                    <br>
                    <br>
                    <br>
                    <p class="card-text mt-0" style="font-weight: 200">Please enter your Nickname</p>
                    <input  type="text" id="username" class="form-control" placeholder="Enter your Nickname"/>
                    <button class="btn  btn-primary mt-4 font-weight-bold py-x py-2" id="nick">Get started</button>
                </div>
            </form>
            </div>
        </div>
    
    <div class="container-fluid" >
            <div class="row" id="messageArea">
                <div class="left-panel">
                    <h3 style="font-family: 'Source Sans Pro', sans-serif; color: white">Online Users</h3>
                    <ul id="users" ></ul>
                </div>
                <div class="right-panel">
                    <div class="chat" id="chat"></div>
                    <form id="messageForm">
                        <div class="form-group">
                            <input type="text" id="message" class="form-control" placeholder="Enter message"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
        <!--Bootstrap JS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <!--Socket.io-->
        <script src="/socket.io/socket.io.js"></script>
        <!--my Script-->
        
        <script>
let socket = io();
socket.on('connected', () => {
    console.log("connected" + socket.id)
});
$(function () {
    var messageForm = $("#messageForm");
    var message = $("#message");
    var chat = $("#chat");
    var userFormArea = $("#userFormArea");
    var messageArea = $("#messageArea");
    var userForm = $("#userForm");
    var users = $("#users");
    var username = $("#username");
    
    
    messageForm.submit(function(e) {
    e.preventDefault();
    if(message.val() !== ''){
    socket.emit('send message', message.val())
    message.val('');
    }
    });
                socket.on('new message', function(data){
                   chat.scrollTop(chat[0].scrollHeight);
                    
 chat.append('<div class="message"><strong>'+data.user+'</strong>: '+ '<span class="msg">' + data.msg+ '</span>'+ '</div> <br />')   
              })
    userForm.submit(function(e) {
                    e.preventDefault();
                    if($('#username').val() == ''){
                    alert('Oops you forget to enter your Nickname');
                    }
                    else
                    socket.emit('new user', username.val(), function(data){
                        if(data) {
                            userFormArea.hide();
                            messageArea.show();
                        } 
                    });
                    username.val('');
                });
    
     socket.on('get users', function(data){
                    var html = '';
                    
                    data.forEach(function(dat) {
                        html +=  '<li>'+dat+'</li>'
                    });
                    
                    users.html(html);
                });   
            });
        
        
        </script>
      </body>
</html>
