@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: white;
    color: #666;
}

.login-container {
    height: 100vh;
    width: 100%;
    
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}
.login-form a{
    text-decoration: none;
    color: #666;
}

.login-form a:hover {
    color: #723dbe;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #723dbe;
    box-shadow: 0 0 0 0.2 rgba(114, 61, 190, .25);
}

.btn-custom {
    background: #723dbe;
    border-color: #723dbe;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: #54229d;
    border-color: #54229d;
    color: #fff;

}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2 rgba(114, 61, 190, .25);
}