
input {
    width: 100%;
    display: block;
    margin: 15px auto;
}

.tempbox{
    width: 320px;
    height: 420px;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body, html {
    height: 100%;
}
body {
      background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: Roboto, sans-serif;
}
.form-control::-webkit-input-placeholder { color:white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.form-group {
    margin-bottom: 0;
}

#messageArea{
    display: none;
}

#userFormArea{
    display: flex;
/*                display: none;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#userFormArea p {
    
    margin: 0%;
    padding: 0%;
    font-weight: bold;
}

#hover:hover {
    cursor: pointer;
    
}

#userFormArea input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;    
    color: black;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #ff6b81;
    height: 100%;
    text-align: center;
}

.right-panel {
    position: fixed;
    top: 0;
    left: 20%;
    width: 80%;
    background-color: #bdc3c7;
    height: 100%;
}

.left-panel ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.left-panel ul li {
    border-bottom: 2px solid #bdc3c7;
}

.right-panel form{
    position: fixed;
    bottom: 0;
    left: 20%;
    right: 0;
}

.right-panel form input {
    border: none;
    border-radius: 0;
    height: 60px;
    
}

.right-panel form .btn-submit {
    border: none;
    border-radius: 0;
    background-color: #e74c3c;
}

.chat {
    padding: 20px 30px;
    overflow: scroll;
    height: calc(100% - 60px);
}

.message {
    background-color: #2ecc71;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
}